{% extends "../document.html" %}

{% block head %}
<meta name="stripe-public-key" content="{{ stripePublicKey }}">
<script src="https://js.stripe.com/v3/" defer></script>
<script src="/js/checkout.js" type="module"></script>
{% endblock %}

{% block content %}
<section>
    <h2>{{ __('settings.subscription.heading') }}</h2>

    {% if user.subscription.endsAt %}
        {{ user.subscription.endsAt }}
        {{ user.subscription.isRenewed }}
    {% endif %}

    {% if user.subscription.lastFourDigits %}
        <p>**** **** **** {{ user.subscription.lastFourDigits }}</p>
        <form action="{{ x('/subscription/remove-payment-method') }}" method="post">
            <button type="submit">Zrušit členství</button>
        </form>
        <form action="{{ x('/subscription/update-payment-method') }}" method="post">
            <button type="submit">Zrušit členství</button>
        </form>
    {% endif %}

    <form action="{{ x('/subscription/cancel-subscription') }}" method="post">
        <button type="submit">Zrušit členství</button>
    </form>

    <form id="stripe-checkout" method="post">
        <fieldset>
            <input type="text" id="stripe-billing-name" name="name" value="John Doe" required>
            <div style="width: 400px;" id="stripe-card"></div>
            <p id="stripe-errors" role="alert"></p>
        </fieldset>
        <button type="submit">Zaplatit</button>
    </form>

</section>

{% endblock %}