{% extends "../document.html" %}

{% block content %}
<h1>{{ __('auth.login.heading') }}</h1>
<form type="auth" action="{{ routes('auth/login') }}{{ querystring }}" method="post">
    <div>
        <label for="email">{{ __('common.form.email') }}</label>
        <input type="email" name="email" id="email" value="{{ body.email }}" required />
        {% if errors.email %}<p>{{ errors.email.msg }}</p>{% endif %}
    </div>
    <div>
        <label for="password">{{ __('common.form.password') }}</label>
        <input type="password" name="password" id="password" required />
        {% if errors.password %}<p>{{ errors.password.msg }}</p>{% endif %}
    </div>
    <button type="submit">{{ __('auth.login.form.submit') }}</button>
</form>
<p><a href="{{ routes('auth/forgot') }}">{{ __('auth.login.forgot-password-prompt') }}</a></p>
{% endblock %}