<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>App</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
    <header>
        <ul>
            {% if not user %}
                <li><a href="{{ routes('landing') }}">{{ __('nav.landing') }}</a></li>
                <li><a href="{{ routes('auth/login') }}">{{ __('nav.login') }}</a></li>
                <li><a href="{{ routes('auth/register') }}">{{ __('nav.register') }}</a></li>
            {% else %}
                <li>Logged in as: {{ user.email }}</li>
                <li><a href="{{ routes('dashboard') }}">{{ __('nav.dashboard') }}</a></li>
                <li><a href="{{ routes('settings') }}">{{ __('nav.settings') }}</a></li>
                <li><a href="{{ routes('auth/logout') }}">{{ __('nav.logout') }}</a></li>
            {% endif %}
        </ul>
    </header>
    <main>
        <p><code>{{ user | dump(1) }}</code></p>
        <p>{{ msg }}</p>
        {% block content %}{% endblock %}
    </main>
</body>
</html>