{% extends "../document.html" %}

{% block content %}
<h1>{{ __('auth.register.heading') }}</h1>
<form action="{{ routes('auth/register') }}" method="post">
    <div>
        <label for="email">{{ __('common.form.email') }}</label>
        <input type="email" name="email" id="email" value="{{ body.email }}" />
        {% if errors.email %}<p>{{ errors.email.msg }}</p>{% endif %}
    </div>
    <div>
        <label for="password">{{ __('common.form.password') }}</label>
        <input type="password" name="password" id="password" />
        {% if errors.password %}<p>{{ errors.password.msg }}</p>{% endif %}
    </div>
    <button>{{ __('auth.register.form.submit') }}</button>
</form>
{% endblock %}