{% extends '../document.html' %}

{% block content %}
<h1>{{ __('settings.heading') }}</h1>

<section>
    <h2>{{ __('settings.account.heading') }}</h2>

    <form action="{{ routes('settings/update-email') }}" method="post">
        <fieldset>
            <legend>{{ __('settings.account.update-email.heading') }}</legend>
            <label for="email">{{ __('common.form.email') }}</label>
            <input type="email" id="email" name="email" value="{{ body.email if body.email else user.email }}" required />
            <p>{{ errors.email.msg }}</p>
            <label for="update-email__password">{{ __('common.form.password') }}:</label>
            <input type="password" name="update-email__password" id="update-email__password" required />
            <p>{{ errors['update-email__password'].msg }}</p>
            <button>{{ __('settings.account.update-email.form.submit') }}</button>
        </fieldset>
    </form>

    <form action="{{ routes('settings/update-password') }}" method="post">
        <fieldset>
            <legend>{{ __('settings.account.update-password.heading') }}</legend>
            <label for="newPassword">{{ __('settings.account.update-password.form.new-password') }}</label>
            <input type="password" name="newPassword" id="newPassword" required />
            <p>{{ errors.newPassword.msg }}</p>
            <label for="update-password__password">{{ __('settings.account.update-password.form.current-password') }}</label>
            <input type="password" name="update-password__password" id="update-password__password" required />
            <p>{{ errors['update-password__password'].msg }}</p>
            <button>{{ __('settings.account.update-password.form.submit') }}</button>
        </fieldset>
    </form>

    <form action="{{ routes('settings/delete-account') }}" method="post">
        <fieldset>
            <legend>{{ __('settings.account.delete-account.heading') }}</legend>
            <p>{{ __('settings.account.delete-account.desc') }}</p>
            <label for="delete-account__password">{{ __('common.form.password') }}:</label>
            <input type="password" name="delete-account__password" id="delete-account__password" required />
            <p>{{ errors['delete-account__password'].msg }}</p>
            <button>{{ __('settings.account.delete-account.form.submit') }}</button>
        </fieldset>
    </form>

</section>
{% endblock %}